@media(max-width: 1200px){

}

@media(max-width: 991px){
    header .container nav{
        display: none;
    }
    header .container .menu-mobile{
        display: block;
    }
    .s-hero .container {
        flex-direction: column;
    }
    .s-hero .container .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;
    }
    
}

@media(max-width: 780px){
    
}

@media(max-width: 600px){

}

@media(max-width: 480px){
    header .container .menu-mobile {
        padding: 1.2rem .8rem;   
    }    
    header .container .logo img{
        max-width: 80%;
    }
    .s-hero{
        padding: 4rem 0px;
    }
    .s-hero .container .text h1{
        font-size: 2.7rem;
    }

    .s-hero .container .text p{
        margin-bottom: 4rem;
    }
}