/* Footer Style */

header {
  background-color: var(--gray-colors-800);
  height: 8.8rem;
  padding: 2.4rem 0px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 100%;
}
header .container .logo .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: var(--gray-colors-100);
}

header .container .logo img {
  border-radius: 50%;
  max-width: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
header .container .logo img:hover {
  transform: scale(1.1);
}

header .container nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 55rem;
  justify-content: flex-end;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li {
  margin-right: 3.2rem;
}

header .container nav ul li:last-child {
  margin-right: 0px;
}

header .container nav .btn-primary {
  margin-left: 3.8rem;
  padding: 0.9rem 3.4rem;
}

header .container .menu-mobile {
  display: none;
}

/* Section Hero Style */

.s-hero {
  padding: 4.6rem 0 7.2rem 0;
}

.s-hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-hero .container .text {
  max-width: 64rem;
}

.s-hero .container .text p {
  max-width: 48.8rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 150%;
  color: var(--gray-colors-300);
  margin-top: 2rem;
  margin-bottom: 5.6rem;
}

.s-hero .container .text .btn-primary {
  padding: 1.8rem 3.7rem;
  max-width: 35rem;
  text-align: center;
}

.s-hero .container .hero-image {
  width: 100%;
  max-width: 48.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-hero .container .hero-image img {
  border-radius: 50%;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
}
.s-features {
  background-color: var(--gray-colors-100);
  padding: 10.4rem 0px 12rem 0px;
}

.s-features .container .main-area {
  padding-bottom: 12.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.s-features .container .title.center h3 {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 125%;
  text-align: center;
  letter-spacing: -1px;
  color: var(--white);
}

.s-features .container .title.center p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--white-colors-text);
  margin-top: 0.8rem;
}

.s-features .container .all-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.s-features .container .all-cards .card {
  background-color: var(--gray-colors-200);
  padding: 7.2rem 0px 8rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 3.2rem;
  border-radius: 0.8rem;
}

.s-features .container .all-cards .card:last-child {
  margin-right: 0px;
}

.s-features .container .all-cards .card .icon {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  animation: slide 3s infinite;
}

.s-features .container .all-cards .card .icon.second {
  animation: slide 4s infinite;
}

.s-features .container .all-cards .card .icon img {
  width: 100%;
  max-width: 4.8rem;
}

@keyframes slide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.s-features .container .all-cards .card .text {
  text-align: center;
  margin-top: 4.8rem;
}

.s-features .container .all-cards .card .text h3 {
  font-family: "Sora";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 125%;
  text-align: center;
  letter-spacing: -1px;
  color: var(--white);
  margin-bottom: 0.8rem;
}

.s-features .container .all-cards .card .text p {
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--white-colors-text);
  width: 100%;
  max-width: 28.8rem;
}

.s-features .container .all-cards .card.white {
  background-color: var(--white);
}

.s-features .container .all-cards .card.white h3 {
  color: var(--gray-colors-100);
}

.s-features .container .all-cards .card.white p {
  color: var(--gray-colors-300);
}

.s-features .container .second-area {
  padding-top: 12.2rem;
}

.s-features .container .second-area .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-features .container .second-area .top .text p {
  font-weight: 400;
  line-height: 150%;
  color: var(--white-colors-text);
  margin-top: 0.8rem;
}

.s-features .second-area .swiper {
  width: 100%;
  height: 100%;
  margin-top: 8.4rem;
}

.s-features .second-area .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .project-wrapper {
  display: flex;
  background-color: var(--gray-colors-800);
  border-radius: 0.8rem;
  gap: 1.6rem;
  padding: 2rem;
  overflow: hidden;
}
.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .project-wrapper.contato {
  display: flex;
  background-color: var(--gray-colors-800);
  border-radius: 0.8rem;
  gap: 1.6rem;
  padding: 2rem;
  overflow: hidden;
  width: 100%;
  max-width: 95rem;
}
.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .project-wrapper.contato
  .text {
  text-align: center;
  max-width: 28rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;
  padding-right: 2.4rem;
}
.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .text {
  text-align: left;
  max-width: 24rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.8rem;
  padding-right: 2.4rem;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}
.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .text
  h2 {
  color: var(--gray-colors-100);
}
.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .text
  a {
  text-align: center;
}
.swiper-slide img {
  display: block;
  width: auto;
  height: 40rem;
  border-radius: 16px;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.s-features
  .second-area
  .swiper
  .swiper-wrapper
  .swiper-slide
  .slide-wrapper
  .contact-img {
  box-shadow: none;
}

/* S-newsletter Style */

.s-newsletter {
  background-color: var(--gray-colors-200);
  padding: 8rem 0px 8rem 0px;
}

.s-newsletter .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.s-newsletter .container .line {
  width: 1px;
  height: 30rem;
  background: rgba(255, 255, 255, 0.3);
}
.s-newsletter .container .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
}
.s-newsletter .container .text img {
  width: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.s-newsletter .container .text img:hover {
  transform: scale(1.2);
}
.s-newsletter .container .text .imgs {
  display: flex;
  gap: 3rem;
}
.s-newsletter .container .text p {
  font-family: "Inter";
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: var(--white-colors-text);
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 69.4rem;
}

.s-newsletter .container .btn-primary {
  padding: 1.7rem 4.1rem;
}

/* Footer Style */

footer {
  background-color: var(--gray-colors-100);
  padding: 2rem 0rem 2rem 0rem;
}

footer .container main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}

footer .container main .area-left {
  width: 100%;
  max-width: 28.1rem;
}

footer .container main .area-left p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--white-colors-text);
  margin-top: 3.5rem;
}

footer .container main nav {
  display: flex;
  width: 100%;
  max-width: 77.7rem;
  align-items: flex-start;
  justify-content: space-between;
}

footer .container main nav .item h6 {
  font-family: "Sora";
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--white);
  margin-bottom: 2.4rem;
}

footer .container main nav .item ul li a {
  font-family: "Sora";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 105%;
  color: var(--white-colors-text);
  transition: 0.2s;
}

footer .container main nav .item ul li a:hover {
  color: white;
}

footer .container main nav .item ul li {
  margin-bottom: 3.2rem;
}

footer .container main nav .item ul li:last-child {
  margin-bottom: 0rem;
}

footer .container main nav .item:last-child ul li a {
  display: flex;
  align-items: center;
}

footer .container main nav .item:last-child ul li a img {
  margin-right: 1rem;
}

footer .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  gap: 4rem;
}

footer .copy p {
  color: var(--white-colors-text);
}

footer .copy img {
  max-width: 9rem;
}
footer .copy p {
  font-family: "Sora";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--white-colors-text);
  margin-right: 0.8rem;
}
